<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GmJournal.WebApp</title> 

    <link rel="icon" type="image/x-icon" href="~/pic/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GmJournal.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
   
</head>
<body>
    <header>
        <nav class="navbar navi-dark navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="navbar-peace navbar-left">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <div class="nav-link-content">
                                Privacy
                            </div>
                        </a>

                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                            <div class="nav-link-content">
                                Users
                            </div>
                        </a>
                        
                    </div>

                    <div class="navbar-center navbar-peace">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <div class="nav-link-content image-with-text image-with-text-rotate">
                                <img src="/pic/logo_empty.png" alt="Home_logo" class="navbar-logo"/>
                                <p id="Logo_Text"class=" text-black">GM</p>
                            </div>
                        </a>
                    </div>

                    <div class="navbar-peace navbar-right">
                        @if (ViewData["CurrentUser"] != null)
                        {
                            

                            <a class="nav-link" asp-area="" asp-controller="Access" asp-action="Logout">
                                <div class="nav-link-content">
                                    @ViewData["CurrentUser.name"]
                                </div>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="Access" asp-action="Logout">
                                <div class="nav-link-content">
                                LogOut
                                </div>
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" asp-area="" asp-controller="Access" asp-action="Login">
                                <div class="nav-link-content">
                                    LogIn
                                </div>
                            </a>
                            <a id="register-nav-button" class="nav-link " asp-area="" asp-controller="Access" asp-action="Register">
                                <div class="nav-link-content">
                                    Create Your Account
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 top-100">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GmJournal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
